.active-nav {
    border-bottom: 2px solid purple;
  }

  .navbar {
    width: 100%;
    height: 80px;
    margin: 0;
    padding: 0;
    
  }
  .nav-link:hover{
    color: purple;
  }
  
  /* Normal desktop :992px. */
/*   
  @media (min-width: 992px) and (max-width: 1200px) {} */
  
  /* Tablet desktop :768px. */
  
  /* @media (min-width: 768px) and (max-width: 991px) {
    .desktopNav {
      display: none;
    }
  } */
  
  /* small mobile :320px. */
  
  /* @media (max-width: 767px) {
    .desktopNav {
      display: none;
    }
  } */
  
  /* Large Mobile :480px. */
  
  /* @media only screen and (min-width: 480px) and (max-width: 767px) {
    .desktopNav {
      display: none;
    }
  } */